version: '3'

services:
  mqtt-to-influxdb:
    image: mqtt-to-influxdb:latest
    build:
      dockerfile: Dockerfile.mqtt
      context: .
    container_name: mqtt-to-influxdb
    restart: unless-stopped
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto:2.0.18
    #image: rinopauletto/mosquitto-logrotate:2.0.19
    container_name: mosquitto
    restart: unless-stopped
    ports:
     - "9001:9001"
     - "1883:1883"
    volumes:
     - ../volumes/mosquitto/config:/mosquitto/config
     - ../volumes/mosquitto/data:/mosquitto/data
     - ../volumes/mosquitto/log:/mosquitto/log
